<%= form_tag "/", method:  :get do %>
  <div>
    City: <%= text_field_tag :city %> State: <%= text_field_tag :state %> <%= submit_tag "Submit" %>
  </div>
<% end %>

<h1>City of <%= @city %>, <%= @state %></h1>


<h2>Current Temperature: <%= @temp %>&deg</h1>

<h2>5 Day Forecast:</h2>
<% @week_forecast.each do |forecast| %>
  <h2><%= forecast["day"] %></h2>
  <ul>  
    <li>High: <%= forecast["high"] %>&deg</li>
    <li>Low: <%= forecast["low"] %>&deg</li>
    <li>Forecast: <%= forecast["text"] %></li>
  </ul>

<% end %>


